<div fxLayout="row" fxLayoutAlign="start center" style="padding: 2%;">
    <div style="margin: 0.5%;">
        <mat-card
            fxFlex="0 1 calc(33.3% - 11px)"
            fxFlex.lt-md="0 1 calc(50% - 11px)"
            fxFlex.lt-sm="100%">
            <mat-card-header>
              <mat-card-title>Actions Buttons</mat-card-title>
            </mat-card-header>
            <mat-card-actions>
                <div class="example-button-container">
                    <div class="example-button-container">
                        <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                          <mat-icon>rocket</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card-actions>
          </mat-card>
    </div>
</div>