.example-container {
    height: 400px;
    overflow: auto;
    width: 100%;
}

table {
    width: 100%;
}

.center-container {
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 0.5%;
}

.example-form {
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.new-param-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    padding: 2%;
}

.mat-form-field {
    margin-right: 12px;
}